* {
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 15, 54);
    color:yellow;
    font-family:Arial;
    margin:0;
}
header {
    text-align:center;
    max-width:1140px;
    background-color: rgb(32, 36, 122);
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding:30px;
    border: 2px solid rgb(100, 200, 255);
}
h1 {
    font-size:50px;
    text-shadow:1px 1px rgb(100, 200, 255);
    margin-top:0;
    margin-bottom:0;
}
h2 {
    font-size:40px;
    text-shadow:1px 1px rgb(100, 200, 255);
    margin-top:15px;
    margin-bottom:0;
}
h3 {
    font-size:30px;
    text-shadow:1px 1px rgb(100, 200, 255);
    margin-top:15px;
    margin-bottom:0;
}

section {
    text-align:center;
    font-weight:bold;
    max-width:1140px;
    background-color: rgb(32, 36, 122);
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding:10px 10px 0px 10px;
    border: 2px solid rgb(100, 200, 255);
}
section p {
    margin:0;
    margin-bottom:10px;
}

main {
    max-width:1140px;
    background-color: rgb(32, 36, 122);
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    padding:10px;
    border: 2px solid rgb(100, 200, 255);
}
.website-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px 10px;
}
.website {
    position:relative;
    border: 2px solid rgb(100, 200, 255);
    justify-content: center;
    align-items: center;
}
.website img {
    max-width:100%;
    height:100%;
    margin:auto;
}
.overlay {
    position:absolute;
    background-color:black;
    color:rgb(100, 200, 255);
    margin:auto;
    justify-content: center;
    align-items: center;
    opacity:0.0;
}
.overlay-text {
    display:inline-block;
    width:100%;
    height:100%;
    text-align:center;
    justify-content: center;
    align-items: center;
}
a.overlay-link {
    display:flex;
    width:100%;
    height:100%;
    text-decoration: none;
    font-size:25px;
    font-weight:bold;
    color:yellow;
    justify-content: center;
    align-items: center;
}
.website:hover {
    border: 2px solid yellow;
}
.website:hover .overlay {
    width:100%;
    height:100%;
    transition: opacity 0.3s linear, border 0.3s linear; 
    opacity:0.8;
}

footer {
    text-align:center;
    max-width:1140px;
    max-height:132px;
    background-color: rgb(32, 36, 122);
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    padding:20px;
    border: 2px solid rgb(100, 200, 255);
}
footer a {
    text-align:center;
    text-decoration:none;
    color:rgb(100, 200, 255);
}
footer a:hover {
    text-decoration: underline;
}
.icon-container {
    display:flex;
    justify-content:center;
}
.contact-links {
    display:flex;; 
}
.contact-icons {
    width:50px;
    height:50px;
    margin:10px 5px;
    border:2px solid rgb(100, 200, 255);
    border-radius:50%;    
}
.contact-icons img {
    width:100%;
    height:100%;
}
.contact-icons:hover {
    transition: width 0.3s linear, height 0.3s linear, border 0.3s linear;
    width:60px;
    height:60px;
    border:2px solid yellow;
}

@media (min-width:601px) and (max-width:800px) {
    header {
        padding:10px;
    }
    h1 {
        font-size:38px;
    }
    h2 {
        font-size:30px;
        margin-top:10px;
    }
    h3 {
        font-size:25px;
        margin-top:10px;
    }
    footer {
        max-height:112px;
        padding:10px;
    }   
}

@media (max-width:600px) {
    header {
        padding:10px;
    }
    h1 {
        font-size:38px;
    }
    h2 {
        font-size:30px;
        margin-top:5px;
    }
    h3 {
        font-size:25px;
        margin-top:5px;
    }
    .website-container {
        grid-template-columns: 1fr;
    }
    footer {
        max-height:94px;
        padding:10px;
    }
    .contact-icons {
        width:40px;
        height:40px;
        margin:10px 2px 2px 2px;
        border:2px solid rgb(100, 200, 255);
        border-radius:50%;    
    }
    .contact-icons:hover {
        width:43px;
        height:43px;
    }
}
